<div class="container">
  
  <div class="row">
    
    <div class="col-md-12">
      
      <div class="form-group">
       
       <ul class="nav nav-tabs">
        <li ng-class="{'active': sortType === 'date'}">
          <a href=""
             ng-click="setSortBy('date')">
            By Date
            <span class="glyphicon glyphicon-arrow-up"
                  ng-if="!reverse && sortType === 'date'"></span>
             <span class="glyphicon glyphicon-arrow-down"
                   ng-if="reverse && sortType === 'date'"></span>
          </a>
        </li>
        <li ng-class="{'active': sortType === 'likes.count'}">
          <a href=""
             ng-click="setSortBy('likes.count')">
            By Popularity
            
            <span class="glyphicon glyphicon-arrow-up"
                  ng-if="!reverse && sortType === 'likes.count'"></span>
             <span class="glyphicon glyphicon-arrow-down"
                   ng-if="reverse && sortType === 'likes.count'"></span>
          </a>
        </li>
       </ul> 
        
      </div>
    </div>
  </div>
  <div class="row">
    
    <div class="col-md-12">
      
      <div class="panel panel-default"
           ng-repeat="post in posts | orderBy: sortType : reverse | filter: searchFor">
        <div class="panel-heading">
          <span class="label label-primary likes">
            <span class="glyphicon glyphicon-heart">
            </span> 
            {{post.likes.count}} 
          </span>
          <b>{{post.text | cut: 30}}</b>
          <span class="pull-right label label-info">
            {{post.date | date: 'hh:mm:ss dd/MM/yyyy'}}
          </span>
        </div>
        <div class="panel-body">
          {{post.text}}         
        </div>
      </div>
    </div>
  </div>
</div>