.toast-title {
  font-weight: bold;
}
.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  text-transform: uppercase;
}
.toast-message a,
.toast-message label {
  color: #ffffff;
  text-transform: uppercase;
}
.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}
#toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  /*overrides*/
}
#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#toast-container > div {
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 3px #999999;
  -webkit-box-shadow: 0 0 3px #999999;
  box-shadow: 0 0 3px #999999;
  color: #ffffff;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=1);
}
#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.toast {
  background-color: #323232;
}
.toast-success {
  background-color: #323232;
}
.toast-error {
  background-color: #323232;
}
.toast-info {
  background-color: #323232;
}
.toast-warning {
  background-color: #323232;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
.canvas-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.canvas {
  position: relative;
  width: 500px;
  height: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-35deg);
  transform: rotateX(-35deg);
}
.cube {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate(-50%, -50%) rotateY(45deg);
  transform: translate(-50%, -50%) rotateY(45deg);
}
.group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.group--aqua {
  -webkit-transform: translate3d(0, 0, 67px);
  transform: translate3d(0, 0, 67px);
}
.group--tomato {
  -webkit-transform: translate3d(0, 0, -67px);
  transform: translate3d(0, 0, -67px);
}
@-webkit-keyframes plane-rotation {
  50%,
  100% {
    -webkit-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
  }
}
@keyframes plane-rotation {
  50%,
  100% {
    -webkit-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
  }
}
.plane {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 2400px;
  perspective: 2400px;
  -webkit-animation: plane-rotation 2s infinite;
  animation: plane-rotation 2s infinite;
}
.plane--gold {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.plane--tomato {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
@-webkit-keyframes dot-rotation {
  50%,
  100% {
    -webkit-transform: rotateY(0deg) rotateX(45deg) scaleX(1.2);
    transform: rotateY(0deg) rotateX(45deg) scaleX(1.2);
  }
}
@keyframes dot-rotation {
  50%,
  100% {
    -webkit-transform: rotateY(0deg) rotateX(45deg) scaleX(1.2);
    transform: rotateY(0deg) rotateX(45deg) scaleX(1.2);
  }
}
.dot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-basis: 33.33%;
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
  -webkit-transform: rotateY(-45deg) rotateX(35deg) scaleX(1);
  transform: rotateY(-45deg) rotateX(35deg) scaleX(1);
  -webkit-animation: dot-rotation 2s infinite;
  animation: dot-rotation 2s infinite;
}
.dot::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.dot--aqua::before {
  background-color: aqua;
}
.dot--gold {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.dot--gold::before {
  background-color: gold;
}
.dot--tomato {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.dot--tomato::before {
  background-color: tomato;
}
header [role="progressbar"][aria-busy="true"] {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 8px;
  width: 100%;
  background-color: #159756;
  -webkit-animation: preloader-background linear 3.5s infinite;
  animation: preloader-background linear 3.5s infinite;
}
header [role="progressbar"][aria-busy="true"]::before,
header [role="progressbar"][aria-busy="true"]::after {
  display: block;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 0;
  height: 8px;
  background: #afa;
  -webkit-animation: preloader-front linear 3.5s infinite;
  animation: preloader-front linear 3.5s infinite;
  content: '';
}
header [role="progressbar"][aria-busy="true"]::before {
  right: 50%;
}
header [role="progressbar"][aria-busy="true"]::after {
  left: 50%;
}
@-webkit-keyframes preloader-background {
  0%,
  24.9% {
    background-color: #159756;
  }
  25%,
  49.9% {
    background-color: #da4733;
  }
  50%,
  74.9% {
    background-color: #3b78e7;
  }
  75%,
  100% {
    background-color: #fdba2c;
  }
}
@keyframes preloader-background {
  0%,
  24.9% {
    background-color: #159756;
  }
  25%,
  49.9% {
    background-color: #da4733;
  }
  50%,
  74.9% {
    background-color: #3b78e7;
  }
  75%,
  100% {
    background-color: #fdba2c;
  }
}
@-webkit-keyframes preloader-front {
  0% {
    width: 0;
    background-color: #da4733;
  }
  24.9% {
    width: 50%;
    background-color: #da4733;
  }
  25% {
    width: 0;
    background-color: #3b78e7;
  }
  49.9% {
    width: 50%;
    background-color: #3b78e7;
  }
  50% {
    width: 0;
    background-color: #fdba2c;
  }
  74.9% {
    width: 50%;
    background-color: #fdba2c;
  }
  75% {
    width: 0%;
    background-color: #159756;
  }
  100% {
    width: 50%;
    background-color: #159756;
  }
}
@keyframes preloader-front {
  0% {
    width: 0;
    background-color: #da4733;
  }
  24.9% {
    width: 50%;
    background-color: #da4733;
  }
  25% {
    width: 0;
    background-color: #3b78e7;
  }
  49.9% {
    width: 50%;
    background-color: #3b78e7;
  }
  50% {
    width: 0;
    background-color: #fdba2c;
  }
  74.9% {
    width: 50%;
    background-color: #fdba2c;
  }
  75% {
    width: 0%;
    background-color: #159756;
  }
  100% {
    width: 50%;
    background-color: #159756;
  }
}
* {
  box-sizing: border-box;
}
header {
  position: relative;
  width: 100%;
  height: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.main-content {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}
@media only screen and (max-width: 600px) {
  .main-content {
    width: 100%;
  }
}
.likes {
  margin: 0 10px 4px 0;
}
.textarea {
  resize: vertical;
}
.image-preview {
  margin-bottom: 20px;
}
.image-preview__item {
  height: auto;
  width: 100%;
  max-width: 270px;
}
@media only screen and (max-width: 480px) {
  .image-preview {
    text-align: center !important;
  }
}
.image-preview__new {
  height: auto;
  width: 100%;
  max-width: 200px;
  -webkit-filter: blur(1px) opacity(80%);
  filter: blur(2px) opacity(80%);
}
.image-upload {
  display: none !important;
}
.profile-image {
  width: 70px;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 70px;
  cursor: pointer;
  box-shadow: 0 0 3px 1px rebeccapurple;
  margin: 0 10px 0 0;
}
.profile-image-no {
  width: 70px;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 70px;
  cursor: pointer;
  box-shadow: 0 0 3px 1px rebeccapurple;
  margin: 0 10px 0 0;
  background-image: url('../../images/noavatar.jpg');
}
.profile-image-rounded {
  border-radius: 50%;
  margin: 9px 10px 0px 0;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.profile-image-no-rounded {
  width: 70px;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 70px;
  cursor: pointer;
  box-shadow: 0 0 3px 1px rebeccapurple;
  margin: 0 10px 0 0;
  border-radius: 50%;
  margin: 9px 10px 0 0;
  width: 50px;
  height: 50px;
  background-image: url('../../images/noavatar.jpg');
}
.messages-profile-image {
  margin-top: 6px;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.messages-profile-image-no {
  margin-top: 6px;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-image: url('../../images/noavatar.jpg');
}
.messages {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
}
.messages__message {
  margin: 12px 0;
  padding: 0;
}
.messages__message-photo {
  padding-right: 0px !important;
}
.test {
  border: 1px solid black;
}
.messages-author-image {
  width: 70px;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 70px;
  cursor: pointer;
  box-shadow: 0 0 3px 1px rebeccapurple;
  margin: 0 10px 0 0;
  height: 50px;
  width: 50px;
  box-shadow: none;
}
.messages-author-image-no {
  width: 70px;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 70px;
  cursor: pointer;
  box-shadow: 0 0 3px 1px rebeccapurple;
  margin: 0 10px 0 0;
  background-image: url('../../images/noavatar.jpg');
}
.link-to-messages {
  cursor: pointer;
}
.back-btn {
  margin-top: 8px;
}
.messages {
  overflow: hidden !important;
}
.new-message__title {
  font-size: 16px;
}
.last-message-time {
  margin-top: -8px;
}
.new-message {
  position: relative;
  bottom: 1px;
}
.user-photos__photo {
  border: 1px solid red;
  width: 50px;
  height: 100px;
}
.user-status {
  margin-top: 14px;
  font-size: 14px !important;
}
.user-photos-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.upload-photo {
  position: relative;
  border: 2px dashed #ea9589;
  max-width: 110px;
  min-width: 70px;
  height: 100px;
  padding: 15px 27px;
  cursor: pointer;
  transition: all .3s ease;
}
.upload-photo:hover {
  text-shadow: 0 3px 1px #84c2ff;
}
.upload-photo span {
  font-size: 60px;
}
.user-photo {
  width: 120px;
  max-width: 150px;
  height: 100px;
  margin: 5px 0;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 2px 1px #1a1a1a;
  margin: 5px 5px;
}
