header [role="progressbar"][aria-busy="true"] {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 8px;
  width: 100%;
  background-color: #159756;
  -webkit-animation: preloader-background linear 3.5s infinite;
  animation: preloader-background linear 3.5s infinite;
}
header [role="progressbar"][aria-busy="true"]::before,
header [role="progressbar"][aria-busy="true"]::after {
  display: block;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 0;
  height: 8px;
  background: #afa;
  -webkit-animation: preloader-front linear 3.5s infinite;
  animation: preloader-front linear 3.5s infinite;
  content: '';
}
header [role="progressbar"][aria-busy="true"]::before {
  right: 50%;
}
header [role="progressbar"][aria-busy="true"]::after {
  left: 50%;
}
@-webkit-keyframes preloader-background {
  0%,
  24.9% {
    background-color: #159756;
  }
  25%,
  49.9% {
    background-color: #da4733;
  }
  50%,
  74.9% {
    background-color: #3b78e7;
  }
  75%,
  100% {
    background-color: #fdba2c;
  }
}
@keyframes preloader-background {
  0%,
  24.9% {
    background-color: #159756;
  }
  25%,
  49.9% {
    background-color: #da4733;
  }
  50%,
  74.9% {
    background-color: #3b78e7;
  }
  75%,
  100% {
    background-color: #fdba2c;
  }
}
@-webkit-keyframes preloader-front {
  0% {
    width: 0;
    background-color: #da4733;
  }
  24.9% {
    width: 50%;
    background-color: #da4733;
  }
  25% {
    width: 0;
    background-color: #3b78e7;
  }
  49.9% {
    width: 50%;
    background-color: #3b78e7;
  }
  50% {
    width: 0;
    background-color: #fdba2c;
  }
  74.9% {
    width: 50%;
    background-color: #fdba2c;
  }
  75% {
    width: 0%;
    background-color: #159756;
  }
  100% {
    width: 50%;
    background-color: #159756;
  }
}
@keyframes preloader-front {
  0% {
    width: 0;
    background-color: #da4733;
  }
  24.9% {
    width: 50%;
    background-color: #da4733;
  }
  25% {
    width: 0;
    background-color: #3b78e7;
  }
  49.9% {
    width: 50%;
    background-color: #3b78e7;
  }
  50% {
    width: 0;
    background-color: #fdba2c;
  }
  74.9% {
    width: 50%;
    background-color: #fdba2c;
  }
  75% {
    width: 0%;
    background-color: #159756;
  }
  100% {
    width: 50%;
    background-color: #159756;
  }
}
* {
  box-sizing: border-box;
}
header {
  position: relative;
  width: 100%;
  height: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.main-content {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}
@media only screen and (max-width: 600px) {
  .main-content {
    width: 100%;
  }
}
.likes {
  margin: 0 10px 4px 0;
}
.textarea {
  resize: vertical;
}
.image-preview {
  margin-bottom: 20px;
}
.image-preview__item {
  height: auto;
  width: 100%;
  max-width: 270px;
}
@media only screen and (max-width: 480px) {
  .image-preview {
    text-align: center !important;
  }
}
.image-preview__new {
  height: auto;
  width: 100%;
  max-width: 200px;
  -webkit-filter: blur(1px) opacity(80%);
  filter: blur(2px) opacity(80%);
}
.image-upload {
  display: none !important;
}
.profile-image {
  width: 70px;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 70px;
  box-shadow: 0 0 3px 1px rebeccapurple;
}
.profile-image-no {
  width: 70px;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 70px;
  box-shadow: 0 0 3px 1px rebeccapurple;
  background-image: url('../../images/noavatar.jpg');
}
