<div class="container">
  
  <div class="row">
    <div class="col-md-4">
      <ul class="nav nav-tabs">
        <li ng-class="{'active': filter === 'show-all'}"
            ng-click="filterFriends('show-all')">
          <a href="">All</a>
        </li>
        <li ng-class="{'active': filter === 'show-online'}"
            ng-click="filterFriends('show-online')">
          <a href="">Online</a>
        </li>
      </ul>
      <br>
    </div>
  </div>
  
  <div class="row">
    
    <div class="col-md-12">
      
      <div class="panel panel-primary">
        
        <div class="panel-heading">
          <strong>Friends list</strong>
        </div>
        
        <div class="panel-body">
          
          <ul class="list-group">
            
            <li class="list-group-item"
                 ng-if="friends.length"
                 ng-repeat="friend in friends track by $index">
              
              <div class="row">
            
                <div class="col-sm-1">
                  <div class="profile-image"
                       ng-if="friend.info.image"
                       style="background-image: url({{friend.info.image}})">
                  </div>
                  <div class="profile-image-no"
                       ng-if="!friend.info.image">
                  </div>
                </div>
                
                <div class="col-sm-9 text-left">
                  
                  <a href="#users/{{friend.id}}/info">
                    {{friend.info.name}} {{friend.info.surname}}
                  </a>
                  <br>
                  <span class="label label-success"
                        ng-if="!friend.lastLoggedOut">
                    Online
                  </span>
                  
                  <span class="label label-danger"
                        ng-if="friend.lastLoggedOut">
                    Offline
                  </span>  
                </div>
                
                <div class="col-sm-2">
                  <button class="btn btn-danger btn-xs"
                          ng-click="removeFriend(friend, $index)">

                    Remove from friends
                    <span class="glyphicon glyphicon-remove">
                    </span>
                  </button>
                </div>
              </div>
            </li>
          </ul>
          
          <div class="alert alert-danger"
               ng-if="friends && !friends.length && filter === 'show-all'">
            You have no friends
          </div>
          <div class="alert alert-info"
               ng-if="friends && !friends.length && filter === 'show-online'">
            No friends online
          </div>
        </div>
      </div>
    </div>
  </div>
</div>