<div class="main-content">
  <div class="container">
    
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            <b>Login</b>
          </div>
          <div class="panel-body">
            <form name="loginForm">
              
              <div class="form-group">
                
                <input type="email"
                    id="uemail"
                    name="useremail"
                    placeholder="Email"
                    ng-model="user.email"
                    autocomplete="off"
                    class="form-control">
              </div>
              <div class="form-group">
                
                <input type="password"
                    id="upassword"
                    name="userpassword"
                    placeholder="Password"
                    autocomplete="off"
                    ng-model="user.password"
                    class="form-control">
              </div>       
                    
              <p class="text-muted">
                <a href="#reset">Forgot Password?</a>
              </p>
              <button class="btn btn-primary"
                      ng-disabled="!user.email || 
                                    user.email.length < 4  || 
                                    !user.password || 
                                    user.password.length < 3"
                      ng-click="logIn()">
                Log In  
              </button>
              <button class="btn btn-success pull-right"
                      ng-click="signUp()">
                Sign Up
              </button>            
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>  