<div class="main-content">
  <div class="container">
    
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            <div class="row">
              <div class="col-md-4">
                <button class="btn btn-warning"
                        ng-click="backToAuth()">
                  <span class="glyphicon glyphicon-arrow-left"></span>
                  Back
                </button>
              </div>
              <div class="col-md-4">
                <b>Reset Password</b>
              </div>
              <div class="col-md-4"></div>
            </div>
          </div>
          <div class="panel-body">
            <form name="loginForm">
              <div class="form-group">
                
                <input type="email"
                      id="uemail"
                      name="useremail"
                      ng-model="userEmail"
                      placeholder="Email"
                      class="form-control"
                      required>
              </div>
              <div class="text-center">
                
                <button class="btn btn-danger"
                        ng-disabled="!userEmail || 
                                     userEmail.length < 4"
                        ng-click="reset()">
                  Reset  
                </button>
              </div>            
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>