<div class="canvas-container"
      ng-if="subLoading">
  <div class="canvas">
    <div class="cube">
        <div class="group group--aqua">
            <div class="plane plane--aqua">
                <div class="dot dot--aqua"></div>
                <div class="dot dot--aqua"></div>
                <div class="dot dot--aqua"></div>
                <div class="dot dot--aqua"></div>
                <div class="dot dot--aqua"></div>
                <div class="dot dot--aqua"></div>
                <div class="dot dot--aqua"></div>
                <div class="dot dot--aqua"></div>
                <div class="dot dot--aqua"></div>
            </div>
        </div>
        <div class="group">
            <div class="plane plane--gold">
                <div class="dot dot--gold"></div>
                <div class="dot dot--gold"></div>
                <div class="dot dot--gold"></div>
                <div class="dot dot--gold"></div>
                <div class="dot dot--gold"></div>
                <div class="dot dot--gold"></div>
                <div class="dot dot--gold"></div>
                <div class="dot dot--gold"></div>
                <div class="dot dot--gold"></div>
            </div>
        </div>
        <div class="group group--tomato">
            <div class="plane plane--tomato">
                <div class="dot dot--tomato"></div>
                <div class="dot dot--tomato"></div>
                <div class="dot dot--tomato"></div>
                <div class="dot dot--tomato"></div>
                <div class="dot dot--tomato"></div>
                <div class="dot dot--tomato"></div>
                <div class="dot dot--tomato"></div>
                <div class="dot dot--tomato"></div>
                <div class="dot dot--tomato"></div>
            </div>
        </div>
    </div>
  </div>
</div>


<div class="container"
     ng-if="!subLoading &&
            current_dialog && 
            current_dialog.dialogHost === currentUser">
  
  <div class="row">
    
    <div class="col-sm-8 col-sm-offset-2">
      
      <div class="panel panel-default">
        
        <div class="panel-heading">
          <em>Settings for </em>
          <strong class="text-primary">{{current_dialog.title}}</strong> 
        </div>
        
        <div class="panel-body">
          
          <div class="row">
            
            <div class="col-sm-6">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <strong>Participants list</strong>
                </div>
                <div class="panel-body">
                  <div class="row"
                       ng-if="participants && participants.length">
                    
                    <!--Dialog participants-->
                    <div class="col-sm-12">
                      
                      <ul class="list-group">
                        
                        <li class="list-group-item"
                            ng-repeat="participant in participants">
                          
                          <div class="row">
                            <div class="col-xs-4 col-sm-3">
                              <div class="messages-author-image pull-right"
                                  ng-if="participant.photo"
                                  style="background-image: url({{participant.photo}})">
                              </div>
                              
                              <div class="messages-author-image-no pull-right"
                                  ng-if="!participant.photo">
                              </div>
                            </div>
                            <div class="col-xs-5 col-sm-6">
                              <strong class="text-info">
                                {{participant.name}} {{participant.surname}}
                              </strong>
                            </div>
                            <div class="col-xs-3 col-sm-3">
                              <button class="btn btn-lg pull-right btn-default"
                                      ng-click="removeParticipant(participant)">
                                <span class="glyphicon glyphicon-remove"></span>
                              </button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="alert alert-warning"
                       ng-if="participants && !participants.length">
                    You are alone here! (
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-sm-6">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <strong>Friends list</strong>
                </div>
                <div class="panel-body">

                  <div class="row"
                       ng-if="friends && friends.length">
                    
                    <!--Dialog participants-->
                    <div class="col-sm-12">
                      
                      <ul class="list-group">
                        
                        <li class="list-group-item"
                            ng-repeat="friend in friends">
                          
                          <div class="row">
                            <div class="col-xs-4 col-sm-3">
                              <div class="messages-author-image pull-right"
                                  ng-if="friend.info.image"
                                  style="background-image: url({{friend.info.image}})">
                              </div>
                              
                              <div class="messages-author-image-no pull-right"
                                  ng-if="!friend.info.image">
                              </div>
                            </div>
                            <div class="col-xs-5 col-sm-6">
                              <strong class="text-info">
                                {{friend.info.name}} {{friend.info.surname}}
                              </strong>
                            </div>
                            <div class="col-xs-3 col-sm-3">
                              <button class="btn btn-lg pull-right btn-default"
                                      ng-click="addParticipant(friend)">
                                <span class="glyphicon glyphicon-plus"></span>
                              </button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="alert alert-warning"
                       ng-if="friends && !friends.length">
                    You have no friends to add to dialog
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <div class="row">
              <div class="col-sm-4 col-sm-offset-8">
                <div class="btn-group btn-group-justified pull-right">
                  
                  <div class="btn-group">
                    <button class="btn btn-success"
                            ng-click="saveChanges()">
                      Save
                    </button>
                  </div>
                  
                  <div class="btn-group">
                    <button class="btn btn-default"
                            ng-click="cancelChanges()">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger"
     ng-if="current_dialog && 
            current_dialog.dialogHost !== currentUser">
  <strong>Opps, it seams you are not a host of this dialog motherfucker!</strong>  
</div>